.title p a{
  position: relative;
  transform: translate(-50%,-50%);
  color: #ffffff;
  background: linear-gradient(to right, #f05757 0, rgb(238, 128, 128) 10%, var(--gray-500) 20%);
  background-position: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
    0% {
      bacground-position: 0;
    }
    60%{
      background-position: 11.25rem
    }
    100%{
      background-position: 11.25rem    
    }
  }
  