*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: var(--gray-200);
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 768px){
    
    html{
      font-size: 53%;
      width: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    body{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    body p{
      font-size: 0.9rem;
    }

    body h1{
      font-size: 2rem;
    }

    body h3{
      font-size: 2rem;
    }

    body a{
      font-size: 2rem;
      align-items: center;
      text-align: center;
    }

  }
  @media screen and (max-height:700px){
    html{
      font-size: 37%;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    body p{
      font-size: 0.9rem;
    }

    body h1{
      font-size: 1.5rem;
    }

    body h3{
      font-size: 1.5rem;
    }

    body a{
      font-size: 1.5rem;
      align-items: center;
      text-align: center;
    }
  }

  :root {
    --red-color: #E3646E;
    --purple-color: #BB72E9;
    --blue-color: #3996DB;
    --green-color: #82BC4F;
    --yellow-color: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
  
    --font-family-title: "Asap", sans-serif;
    --title-lg: 700 3.5rem/120% var(--font-family-title);
    --title-md: 700 1.5rem/120% var(--font-family-title);
    --title-sm: 700 1rem/120% var(--font-family-title);
  
    --font-family-subtitle: "Inconsolata", monospace;
    --subtitle: 400 1.25rem/120% var(--font-family-subtitle);
  
    --font-family-text: "Maven Pro", sans-serif;
    --text-md: 300 1rem/140% var(--font-family-text);
    --text-sm: 400 0.875rem/140% var(--font-family-text);
    }


