.intro{
  background: linear-gradient(180deg, rgba(135, 142, 161, 0.50) 0%, rgba(135, 142, 161, 0.29) 30.29%, rgba(41, 44, 52, 0.00) 100%);
  width: 100%;
  height: 46.875rem;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 7.5rem 10.188rem 3.563rem 10.188rem;
  gap: 5.875rem;
}

.info{
  width: 65rem;
  height: 27.938rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  text-align: center;

}

.avatar{
  width: 13rem;
  height: 13rem;
}

.avatar img:first-child{
  width: 13rem;
  height: 13rem;
  border-radius: 9999px;
  object-fit: cover;
  border: 0.125rem solid var(--gray-400);
  padding: 0.25rem;
}
.avatar img:last-child{
  width: 2rem;
  height: 2rem;
  position: relative;
  top: -2.813rem;
  left: 4.125rem;
}
.text-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: #fff;
}

.title p {
  font: var(--title-md);
  color: var(--gray-500);
  opacity: 0.7;
}


.text-info p:nth-child(2){
  font: var(--text-sm);
  color: var(--gray-400);
  text-align: center;
}



/* h1 */
.main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  @media(max-width: 25rem){ transform: scale(.65);}
}
.main{

  span{
    margin: 0 0.938rem;
    line-height: .7;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, .45);
    animation: span 3s ease-in infinite alternate;
    font: var(--title-md);
  }

  .letter{
    display: inline-flex;
    padding-top: 1.563rem;
    padding-left: 0.625rem;
    /* border: 2.5px solid #FF1EAD; */
    border: 0.147rem solid rgb(255, 255, 255);
    border-radius: 0.875rem;
    box-shadow:
      0 0 0.125rem rgba(0, 0, 0, .75),
      inset 0 0 0.125rem rgba(0, 0, 0, .45);
  
    animation: letter 3s ease-in-out infinite alternate;
  }
}
  @keyframes span {
    0%,30%{ margin: 0 0.938rem; }
    70%,100%{ margin: 0 0.938rem; }
  }
  @keyframes letter {
    0%,30%{ width: 1.688rem; }
    70%,100%{ width: 30vw; }
  }