.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 1.2em;
    font-size: 1.375rem;
    color: var(--gray-600);
    border-radius: 2em;
    border: solid 0.125rem;
    transition: .4s;
    margin-top: 6.188rem auto;
}
  
.scroll-icon:hover {
    background-color: rgba(#fff, .05);
    color: var(--red-color);
}
  
.scroll-icon::after {
    content: '';
    width: 0.313rem;
    height: 0.313rem;
    background-color: #fff;
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}
  
@keyframes scroll-icon {
    0% { transform: translateY(-0.75rem); opacity: 0; }
    30%, 70% { opacity: 1; }
    100% { transform: translateY(0.75rem); opacity: 0; }
}
  
