section{
  background: linear-gradient(180deg, #16181D 32.21%, #0D0E11 100%);
    width: 100%;
    height: 46.875rem;
}

section .txt{
    color: var(--gray-400);
  font-family: var(--font-family-subtitle);
  font-weight: 300;
  font-size: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.5rem;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  div:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
  div:last-of-type {
    width:0rem;
    animation: reveal 7s infinite;
  }
  
  div:last-of-type span {
    margin-left: -22.5rem;
    animation: slidein 7s infinite;
  }
  
  span {
    font-size: 2rem;
    font-family: var(--font-family-subtitle);
    color: var(--gray-400);
    padding-left: 0.625rem;
  }
}
@keyframes slidein {
    0% { margin-left: -56.875rem; }
    20% { margin-left: -56.875rem; }
    35% { margin-left: 0rem; }
    100% { margin-left: 0rem; }
}

@keyframes reveal {
    0% {opacity: 0; width: 0rem;}
    20% {opacity: 1; width: 0rem;}
    30% {width:26.25rem;}
    80% {opacity:1;}
    100% {opacity:0;width:26.25rem;}
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
  
