section{
    background-color: var(--gray-100);
    width: 100%;
    height: 750px;
}

section .txt{
    color: var(--gray-400);
  font-family: var(--font-family-subtitle);
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 88px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  div:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
  div:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  div:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
  }
  
  span {
    font-size: 32px;
    font-family: var(--font-family-subtitle);
    color: var(--gray-400);
    padding-left: 10px;
  }
}
@keyframes slidein {
    0% { margin-left: -900px; }
    20% { margin-left: -900px; }
    35% { margin-left: 0px; }
    100% { margin-left: 0px; }
}

@keyframes reveal {
    0% {opacity: 0; width: 0px;}
    20% {opacity: 1; width: 0px;}
    30% {width:397px;}
    80% {opacity:1;}
    100% {opacity:0;width:397px;}
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
  
