.tags{
    font: var(--text-md);
    color: var(--gray-500);
    display: flex;
    gap: 16px;
    
}

.tag-github{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background: var(--gray-300);
}

.tag-html{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background: var(--gray-300);
}

.tag-css{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background: var(--gray-300);
}

.tag-js{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background: var(--gray-300);
}

.tag-react{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background: var(--gray-300);
}

.tag-nodejs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;
    background: var(--gray-300);
}